$box-shadow: rgba(51,51,51,0.1);
$color-app-background: #F1F1F1;
$color-divider: #EBEBEB;
$color-card-footer: rgba(241,241,241, 0.5);

$color-red: #ED1946;
$color-orange: #FF9632;
$color-blue: #69A3FF;
$color-gray: #B4B4B4;
$color-dark-gray: #737C84;

.tittle-text {
  color: $color-gray;
  margin-bottom: 5px;
}

.info-text {
  color: $color-dark-gray;
}